@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono&display=swap');
@import 'tailwindcss';

@theme {
  --font-exclamation: 'BBH Bartle', sans-serif;
  --font-base: 'Atkinson Hyperlegible Mono ', sans-serif;
  --color-darkest: #0b132b;
  --color-dark: #1c2541;
  --color-base: #3a506b;
  --color-light: #5bc0be;
  --color-lightest: #6fffe9;
}
